/* General styles */
body {
    margin: 0;
    font-family: 'Cinzel', serif;
    color: #f4f4f4;
    background-color: #1f1e1e;
}

/* Landing Page */
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.landing h1 {
    font-size: 3rem;
    letter-spacing: 0.1rem;
    margin: 0;
}

nav {
    margin-top: 1.5rem;
}

nav a {
    color: #f4f4f4;
    text-decoration: none;
    margin: 0 1.5rem;
    font-size: 1.2rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

nav a:hover {
    border-bottom: 1px solid #f4f4f4;
}

/* Wine Page */
.wine-page {
    padding: 3rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.wine-page h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.wine-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.wine-item img {
    width: 300px;
    height: auto;
    /*border: 2px solid #f4f4f4;*/
    border-radius: 5%;
    margin-bottom: 1rem;
}

/*
.wine-info p {
    font-size: 1.1rem;
    color: #d0d0d0;
    line-height: 1.5;
}
*/
/* Logo styling */
.logo {
    width: 150px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 1rem;
    border-radius: 75%;
}

/* Optional: Center the logo on the homepage */
/*
.landing .logo {
    display: block;
    margin: 0 auto;
}*/

/* Adjust positioning on the wine page */
.home-link .logo {
    width: 100px; /* Smaller size for the home button */
}

/*
.home-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
}*/

.compact-text {
    max-width: 300px; /* Adjust the width as needed */
    padding: 10px;
    word-wrap: break-word;
}